<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Address Book Angular App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <body ng-app="my-app" ng-controller="contacts-controller">
  <h1>Address Book</h1>
  <h3>Contacts:</h3>
  <!-- <ul>
      <li ng-repeat = "record in records">
         {{ 'Name: ' + record.Name + ', Age: ' + record.Age + ', Number: ' + record.Phone + ', Location: ' + record.Address }}
         <img ng-src="{{ record.Link }}" />`
      </li>
   </ul> -->

   <!-- <ul>
      <li ng-repeat = "todo in todos track by $index">
         {{ 'Name: ' + todo.Name + ', Age: ' + todo.Age + ', Number: ' + todo.Phone + ', Location: ' + todo.Address }}
         <img ng-src="{{ todo.Link }}" />`
      </li>
   </ul> -->
<div ng-if="editEntry">
<input type="text" ng-model="currentRecord.Name">
        <input type="text" ng-model="currentRecord.Age" placeholder="Enter Your Age">
        <input type="text" ng-model="currentRecord.Phone" placeholder="Enter Your Number">
        <input type="text" ng-model="currentRecord.Address" placeholder="Enter Your Location">
        <input type="text" ng-model="currentRecord.Link" placeholder="Enter Your Image Link">
        <a class="waves-effect waves-light btn" ng-click="saveRecord()">Save</a>
        <a class="waves-effect waves-light btn" ng-click="deleteRecord(currentRecord)">Delete</a>
        </div>


<div class="row imgfilter">
        <div class="col s12 m6 l3" ng-repeat = "todo in todos track by $index">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{ todo.Link }}" />
              <span class="card-title text-darken-2">{{todo.Name}}</span>
            </div>
            <div class="card-content">
              <p>{{todo.Age}}</p>
              <p>{{todo.Phone}}</p>
              <p>{{todo.Address}}</p>
            </div>
            <div class="card-action">
              <a class="waves-effect waves-light btn" ng-click="editRecord(todo)">Edit</a>
            </div>
          </div>
        </div>
      </div>
    <div class="row">
    <!-- <div class="col l3" ng-repeat = "todo in todos track by $index">
    
        <input type="text" ng-model="xinput" value="{{todo.Name}}">
        <input type="text" ng-model="xinput4" placeholder="Enter Your Age">
        <input type="text" ng-model="xinput2" placeholder="Enter Your Number">
        <input type="text" ng-model="xinput3" placeholder="Enter Your Location">
        <input type="text" ng-model="xinput5" placeholder="Enter Your Image Link">
        </div>
    </div> -->



 <div>
        <input type="text" ng-model="input" placeholder="Enter Your Name">
        <input type="text" ng-model="input4" placeholder="Enter Your Age">
        <input type="text" ng-model="input2" placeholder="Enter Your Number">
        <input type="text" ng-model="input3" placeholder="Enter Your Location">
        <input type="text" ng-model="input5" placeholder="Enter Your Image Link">
        <button type="submit" ng-click="add()">Add</button>
    </div>

    <contacts-list></contacts-list>

    <div>
    	<input type="text" ng-model="contactSearch" placeholder="Search Contacts">
    	<div ng-repeat = "todo in todos | filter: contactSearch">
    		{{ 'Name: ' + todo.Name + ', Age: ' + todo.Age + ', Number: ' + todo.Phone + ', Location: ' + todo.Address }}
    	</div>
    </div>



</body>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html